services:
  java_middleware:
    build:
      context: .  
      dockerfile: docker/Dockerfile.middleware          
    container_name: devtasks
    env_file:
      - .env
    depends_on:
      - mysql
      - redis
    ports:
      - "8080:8080"
    restart: restart

  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    container_name: api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - mysql
      - qdrant
    restart: always

  worker_main:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker
    container_name: worker_main
    command: celery -A app.workers.main.worker worker --loglevel=INFO --queues=main_queue
    env_file:
      - .env
    depends_on:
      - redis
      - mysql
      - qdrant
    restart: always

  worker_embedding:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker
    container_name: worker_embedding
    command: celery -A app.workers.embedding.worker worker --loglevel=INFO --queues=embedding_queue
    env_file:
      - .env
    depends_on:
      - redis
      - qdrant
    restart: always

  worker_candiate:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker
    container_name: worker_candidate
    command: celery -A app.workers.candidate.worker worker --loglevel=INFO --queues=candidate_queue
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  worker_notification:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker
    container_name: worker_notification
    command: celery -A app.workers.notification.worker worker --loglevel=INFO --queues=notification_queue
    env_file:
      - .env
    depends_on:
      - redis
    restart: always
  flower:
    image: mher/flower
    command: celery --broker=redis://redis:6379/0 flower --port=5555
    ports:
      - "5555:5555"
    depends_on:
      - redis
    restart: always


  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: always

volumes:
  mysql_data:
  qdrant_data:
  redis_data:
